.tabledesign{
    text-align: center;
    color:white;
    justify-content: center;
    padding: 20px;
}
table{
    margin:auto;
    column-gap: 1px;
    border:1px solid white;
}
th{
    border-bottom: 1px solid white;
}

body{
    background-color: black;
}
